{% extends "main.html" %}
{% block body %}
<div class="container mt-3">
  <h1 class="mb-3">PingRelay Status</h1>
  <h2>Listeners</h2>
  <table id="listeners_table" class="table table-responsive">
    <thead>
      <tr>
        <th class="w-25">Name</th>
        <th class="w-25">Uptime</th>
        <th class="w-25">Status</th>
        <th class="w-25">Actions</th>
      </tr>
    </thead>
    <tbody id="listeners_list">
    </tbody>
  </table>
  <h2>Emitters</h2>
  <table id="emitters_table" class="table table-responsive">
    <thead>
      <tr>
        <th class="w-25">Name</th>
        <th class="w-25">Uptime</th>
        <th class="w-25">Status</th>
        <th class="w-25">Actions</th>
      </tr>
    </thead>
    <tbody id="emitters_list">
    </tbody>
  </table>
</div>
{% endblock %}
{% block script %}
  <script>
    var ws = new WebSocket("ws://127.0.0.1:8080/")

    ws.onopen = function (event) {
      var message = JSON.stringify({"action":"get status"});
      ws.send(message);
      var intervalID = window.setInterval(function(){
        ws.send(message);
      }, 1000);
    };
    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      if(data.Status == "OK")
      {
        if(data.Response == "Status")
        {
          $("#listeners_list").empty()
          var listeners = data.Listeners;
          $.each(listeners, function(i, listener){
            $("#listeners_list").append("<tr class=\"" + status_to_class(listener.status) + "\"><td>" + listener.name + "</td><td>" + listener.uptime + "</td><td>" + listener.status + "</td><td></td></tr>");
          });
          $("#emitters_list").empty()
          var emitters = data.Emitters;
          $.each(emitters, function(i, emitter){
            $("#emitters_list").append("<tr class=\"" + status_to_class(emitter.status) + "\"><td>" + emitter.name + "</td><td>" + emitter.uptime + "</td><td>" + emitter.status + "</td><td></td></tr>");
          });
        }
      }
    };

    function status_to_class(status)
    {
      if(status == "Running")
      {
        return "table-success"
      }
      if(status == "Disconnected")
      {
        return "table-danger"
      }
      if(status == "Ready")
      {
        return "table-info"
      }
      return "table-primary"
    }
  </script>
{% endblock %}
