{% extends "main.html" %}
{% block body %}
<h1>Listeners</h1>
<table id="listeners_table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uptime</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="listeners_list">
  </tbody>
</table>
<h1>Emitters</h1>
<table id="emitters_table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uptime</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="emitters_list">
  </tbody>
</table>
{% endblock %}
{% block script %}
  <script>
    var ws = new WebSocket("ws://127.0.0.1:8080/")

    ws.onopen = function (event) {
      var message = JSON.stringify({"action":"get status"});
      ws.send(message);
      var intervalID = window.setInterval(function(){
        ws.send(message);
      }, 1000);
    };
    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      if(data.Status == "OK")
      {
        $("#listeners_list").empty()
        var listeners = data.Listeners;
        $.each(listeners, function(i, listener){
          $("#listeners_list").append("<tr><td>" + listener.name + "</td><td>" + listener.uptime + "</td><td>" + listener.status + "</td></tr>");
        });
        $("#emitters_list").empty()
        var emitters = data.Emitters;
        $.each(emitters, function(i, emitter){
          $("#emitters_list").append("<tr><td>" + emitter.name + "</td><td>" + emitter.uptime + "</td><td>" + emitter.status + "</td></tr>");
        });
      }
    };
  </script>
{% endblock %}
